<h1>No place like home</h1>

<div>
    <div>
        <a href="login">Login</a>
    </div>
    <div>
        <a href="/register">Register</a>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <a href="/hello">Hello</a>
    </div>
</div>