<h1>Super secret page</h1>
<p>Logged in</p>

<img src="https://pixabay.com/get/57e0d0414351af14f6da8c7dda793f7f1636dfe2564c704c732c7cd69648c75d_340.jpg" alt="Image of Fat Cat">

<div>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
</div>